@model GameStore.Models.Cart

<h1>Cart</h1>

@if (Model != null && Model.Products != null && Model.Products.Count > 0)
{
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Image</td>
                <td>@product.Price</td>
            </tr>
        }
    </table>
}
else
{
    <p>No products in the cart.</p>
}
